{% extends 'base.html.twig' %}

{% block title %}Mercadona{% endblock %}

{% block body %}
    <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 shadow p-3 mb-5">
        <img src="{{ asset ('images/assets/retail_shop.jpg')}}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Mercadona, first retail stores in Spain !</h1>
        <p class="lead">We have only searched for the best products worldwide to offer you the best at the best price. That's why our moto is in spanish :"Todo, para todos!"</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-bd-primary btn-lg px-2 me-md-2 shadow p-3 py-5"><a class="nav-link" href="{{ path ('app_products_index') }}">Notre Catalogue par produit</a></button>
          
        </div>
      </div>
    </div>
  </div>


{% endblock %}
